/* Dracula Color Palette */

:root {
    --background: #282a36;
    --current-line: #44475a;
    --selection: #44475a;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --dark-purple: #bd93f9;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}

p {
    text-align: justify;
    line-height: 1.6em;
}

/* LISTS */
ul > li, ol > li {
    line-height: 1.75em;
}

/* Show Breadcrumbs */
.view-header-title-container {
    text-align: left !important;
    opacity: 1 !important;
    transition: opacity .1s ease-in-out;
}

/* CHECKBOXES */
ul > li.task-list-item {
    list-style: none;
    line-height: 1.2em;
}

/* Headings Level color */
/* h1 {
    color: var(--pink)!important;
}
h2 {
    color: var(--purple)!important;
}
h3 {
    color: var(--blue)!important;
}
h4 {
    color: var(--yellow)!important;
} */
/* bold */
/* strong {
    color: var(--orange)!important;
} */