@define-color background #1a1b26;
@define-color foreground #c0caf5;
@define-color alt-foreground #414868;
@define-color cyan #7dcfff;
@define-color magenta #bb9af7;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;

*{
	/* border: none; */
	border-radius: 0;
	font-family: JetBrainsMono Nerd Font;
	font-size: 15px;
	font-weight: normal;
	min-height: 0;
}

window#waybar {
	background-color: @background;
	color: @foreground;
	border: 1px solid @background;
}

#workspaces button {
	padding: 0px 0px;
	font-size: 8px;
	font-weight: normal;
	color: @foreground;
	border: 1px solid transparent;
}

#workspaces button:hover {
	box-shadow: none; 
	text-shadow: none; 
	background: none;  
	transition: none;  
	background-color: inherit; 
	color: inherit;
	border-color: transparent;
}


#workspaces button.focused {
	color: @blue;
	background-color: transparent;
	font-weight: bold;
	/* border-bottom: 1px solid @blue;	 */
}

#clock {
	font-weight: normal;
}

#tray {
	color: @foreground;
	-gtk-icon-style: symbolic;
}

#custom-cavax {
	color: @blue;
}

#custom-arch {
	color: @blue;
}

#custom-power {
	color: @red;
	font-weight: bold;
}

#memory,
#custom-temps,
#cpu{
	color: @blue;
	padding: 0px 9px;
	font-size: 12px;
}

#custom-separator {
	color: @alt-foreground;
}

#custom-media {
	font-size: 14px;
	color: @blue;
}

#scratchpad{
	font-size: 13px;
}

#custom-stats,
#system,
#tray,
#custom-arch,
#custom-power,
#custom-brightness,
#custom-cavax,
#window,
#disk,
#custom-media,
#mode,
#scratchpad,
#clock,
#battery,
#network,
#pulseaudio {
	padding: 2px 5px;
}
