/* 
Optional css that can be added to make dashboards use wide margin 
if "Readable line length" is enabled in Editor
 
Updated 2022-02-28

*/
.dashboard.maxWidth.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
   width: 100% !important;
   max-width: 100% !important;
 }
 
 .dashboard .markdown-preview-section {
   width: 100% !important;
   max-width: 100% !important;
 }