img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img[alt*="left"]{
    display: block;
    float: left;
}
img[alt*="right"]{
    display: block;
    float: right;
}
